@keyframes line_animation2 {
  from { width: 0px; }
  to { width: 700px; }
}
.home-content {
  align-content: center;
  text-align: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 1040px;
}
.algorithm h1 {
	font-family: 'Muli', sans-serif;
	padding-top: 50px;
	font-size: 300%;
	color: black;
	font-weight: 200;
	margin: auto;
	text-align: center;
}
.algorithm h1::after {
  display: block;
  height: 2px;
  background-color: #007991;
  content: '';
  width: 700px;
  animation-name: line_animation2;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  margin: 45px auto;
}
.columns{
	text-align: center;
	margin: auto;

}
.middle{
	border-left: 1px solid black;
	border-right: 1px solid black;
	text-align: center;
	margin: auto;
	padding-left: 30px;
	padding-right: 30px;

}
