@keyframes line_animation2 {
  from { width: 0px; }
  to { width: 700px; }
}
.home-content {
  align-content: center;
  text-align: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 1040px;
}
.algorithm h1 {
	font-family: 'Muli', sans-serif;
	padding-top: 50px;
	font-size: 200%;
	color: #222;
	font-weight: 200;
	margin: auto;
	text-align: center;
	margin-bottom: 40px;
}

.columns {
	text-align: center;
	margin: 60px auto;
  width: 100%;
}

.columns span {
  display: block;
}

.middle {
	border-left: 1px solid rgba(34,36,38,.15);
	border-right: 1px solid rgba(34,36,38,.15);
	text-align: center;
	margin: auto;
	padding-left: 30px;
	padding-right: 30px;
}

.algorithm-text {
  max-width: 1000px;
  margin: 40px auto;
}

.fa-cogs {
  color: #8678e7;
}

.fa-smile-o {
  color: #78d9e7;
}

.fa-line-chart {
  color: #c7db37;
}
.trending{
	text-align: center;
}
.aitrending{
	border-right: 1px solid rgba(34,36,38,.15);
}
.piegraph{
	text-align:center;
	margin: auto;
}
