@import url('https://fonts.googleapis.com/css?family=Roboto:200,400,700');

.header{
	height: 50vh;
	bbackground: #00d2ff;
	background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);
	background: linear-gradient(to right, #3a7bd5, #00d2ff);
	text-align: center;
}

.header h1 {
	font-family: 'Roboto', sans-serif;
	padding-top: 50px;
	font-size: 500%;
	color: #fff;
	font-weight: 300;
}

.header h1:after {
	border-top: 300px;
}
