@import url('https://fonts.googleapis.com/css?family=Roboto:200,400,700');

@keyframes line_animation {
  from { width: 0px; }
  to { width: 900px; }
}

.header{
	height: 60vh;
	background: #1A222C;
	text-align: center;
}

.header h1 {
	font-family: 'Roboto', sans-serif;
	padding-top: 50px;
	font-size: 500%;
	color: #fff;
	font-weight: 300;
}


.header h1::after {
  display: block;
  height: 2px;
  background-color: rgba(155,89,182,0.8);
  content: '';
  width: 900px;
  animation-name: line_animation;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  margin: 45px auto;
}

.header-button {
	margin: 30px  !important;
}
